---
layout: page
title: Search
search_omit: true
---
<link rel="stylesheet" href="{{site.baseurl}}public/css/search.css">
  <div ng-app="searchApp" ng-controller="PostListCtrl">
    <script src="{{site.baseurl}}bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}scripts/search.js"></script>

    <span class="search-input">
      <input ng-model="query">
    </span>
    <UL>
      <li class="search-break">
      <li ng-repeat="post in posts | matchesQuery:query">
        <a ng-href="{[{post.link}]}">{[{ post.title }]}</a>
      </li>
    </ul>
  </div>
