---
layout: page
title: Search
search_omit: true
---
<link rel="stylesheet" href="{{ site.baseurl }}search/search.css">
<link rel="stylesheet" href="{{ site.baseurl }}public/css/lanyon.css">
<div>
  <script type="text/javascript" src="{{ site.baseurl }}search/search.js"></script>

  <span class="search-input">
    <input id="query" onKeyUp="redrawPostsList" autofocus>
  </span>
  <ul>
    <li class="search-break"></li>
    <div class="tag-list">
    {% capture tags %}
    {% for tag in site.tags %}
      {{ tag[0] }}
    {% endfor %}
    {% endcapture %}
    {% assign sortedtags = tags | split:' ' | sort %}
    {% for tag in sortedtags %}
      <a class="round tag-cloud" onClick="addTagToSearchPath">{{ tag }}</a>
    {% endfor %}
    </div>
    <li>
      <a href="{[{ post.link }]}">{[{ post.title }]}</a>
    </li>
  </ul>
</div>
